/* vielleicht stattdesse js-wave-content wave-content, wave,
js-inner-wave-container oder inner-wave-container als klasse benutzen?
Damit nur eine benutzt werden muss statt den 2? vielleicht aber auch egal :)
*/

.js-wave-blips, .new-topic-guide {
            width: 510px;
}

.js-account-container + div {
    position: relative;
    top: -50px;
    left: -400px;
    z-index: 3;
}

.js-read-all {
    display:none
}

.right-tools-panel button.next-unread-blip.disabled {
    background: none;
    border: none;
}

.right-tools-panel .next-unread-blip {
    color: #fff;
    font-weight: bold;
    border: 1px solid #95D529;
}